/* Reset simples */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Página */
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f2f2f2;
    padding: 20px;
    color: #333;
}

/* Centraliza o conteúdo */
body > h2,
body > p,
form,
a {
    max-width: 500px;
    margin: 10px auto;
    display: block;

}

/* Títulos */
h2{
    margin-top: 20px;
    margin-bottom: 10px;
}

/* Parágrafos */
p {
    margin-bottom: 10px;
}

/* Labels */
label {
    display: block;
    margin-top: 10px;
    font-size: 14px;
}

/* Inputs e selects */
input,
select {
    width: 100%;
    padding: 8px;
    margin-top: 4px;
    margin-bottom: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* Botões */
button {
    width: 100%;
    padding: 10px;
    margin-top: 12px;
    background-color: #007bff;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 4px;
}

button:hover {
    background-color: #0056b3;
}

/* Links */
a {
    margin-top: 15px;
    text-decoration: none;
    color: #007bff;
}

a:hover {
    text-decoration: underline;
}

/* Separação visual simples */
h3 {
    font-size: 1.5em;
    margin-top: 50px;
    margin-bottom: 8px;
    margin-left: 36.5%;
}


